@charset "utf-8";
html{
}
body{
}
/* header */
header{
    position: relative;
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* Atlasにカーソルを持ってくるとポインターになる。 */
.title{
    cursor: pointer;
}

/* pulldownドロップダウンメニュー */
/* メニューが閉じてあるとき */
.pulldown{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    display: block;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    cursor: pointer;
    border-bottom: 2px solid black;
    right: 10px;
}
.pulldown-box{
    display: none;
    margin:0 auto;
}
/* メニューがクリックされて開かれたとき */
.pulldown.open{
    transform: rotate(135deg);
}

/* 投稿フォーム */
.post{
    padding: 5px;
}

/* 投稿の削除アイコンにカーソルが当たると画像が差し変わる */
.hover-image{
    transition: opacity 0.5s ease-in-out;
}
.hover-image:hover{
    opacity: 0.5;
}

.photo-size{
    width: 80px;
    height: auto;
}
